:root {
  --primary-color-hsl: 258deg 69% 40%;
  --primary-color: hsl(var(--primary-color-hsl));

  --secondary-color-hsl: 38deg 100% 75%;
  --secondary-color: hsl(var(--secondary-color-hsl));

  --light-theme-bg-color: #fff7e6;
}
