:root {
  --primary-color: #4a20ac;
  --secondary-color: #ffd080;
  --light-theme-bg-color: #fff7e6;
  --light-theme-fg-color: #202020;

  --theme-background-color: var(--light-theme-bg-color);
  --theme-foreground-color: var(--light-theme-fg-color);
  --theme-link-color: var(--primary-color);
}
