{
  "extends": "stylelint-config-recommended",
  "rules": {
    "selector-nested-pattern": "^&",
    "no-descending-specificity": 0,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["/^import-/", "extend"]
      }
    ]
  }
}
