---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import NavigationLayout from "@layouts/NavigationLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<NavigationLayout>
  <h2>Unredacted</h2>
  <p class="">
    A blog about design, technology, programming, and other personal interests.
    Subscribe to the RSS or JSON feeds to get the latest articles, or follow me
    on Mastodon.
  </p>
  <hr class="mb-10" />
  <ul class="not-prose list-none">
    {
      posts.map((post) => (
        <li class="mb-10">
          <a href={`/blog/${post.slug}`}>
            <h3 class="max-w-prose text-2xl font-medium">{post.data.title}</h3>
            <p class="dark:text-banana mt-1 text-sm leading-normal font-semibold tracking-wider text-purple-500 uppercase">
              <FormattedDate date={post.data.pubDate} />
            </p>
            {post.data.tags && post.data.tags.length > 0 && (
              <ul class="mt-2 list-none">
                {post.data.tags.map((tag: string) => (
                  <li class="mr-2 inline-block">
                    <span class="rounded-full bg-stone-200 px-3 py-1 text-xs font-medium tracking-wider text-stone-800 uppercase dark:bg-slate-800 dark:text-slate-400">
                      {tag}
                    </span>
                  </li>
                ))}
              </ul>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</NavigationLayout>
