.button,
button,
[type="submit"],
input[type="reset"],
input[type="button"] {
  appearance: none;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  border-radius: 12em;
  color: var(--primary-color);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin: 1rem auto 2rem;
  min-width: 8rem;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0 0 0 / 10%);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
