%field {
  appearance: none;
  background-color: var(--theme-inset-background-color);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--theme-foreground-color);
  font-family: var(--monospaced-font);
  font-size: 0.9rem;
  padding: 0.8em;
  transform: all 0.2s;
  width: 100%;

  &::placeholder {
    color: var(--theme-secondary-foreground-color);
  }

  &:focus {
    outline: none;
    border-color: var(--dusk-blue);
  }

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

input {
  @extend %field;
}
textarea {
  @extend %field;
  height: 12rem;
  resize: none;
}

form {
  margin: 2rem 0;
}

fieldset {
  padding: 0;
  margin-bottom: var(--spacing-default);
  border: none;

  & input {
    margin-bottom: 1rem;
  }

  & .textarea {
    flex-basis: 100%;
  }
}
