%field {
  appearance: none;
  background-color: var(--theme-inset-background-color);
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 0.9rem;
  padding: 0.5em;
  width: 100%;
  font-family: var(--monospaced-font);

  &::placeholder {
    color: gray;
  }

  &:focus {
    outline: none;
  }
}

input {
  @extend %field;
}

textarea {
  @extend %field;
  height: 6rem;
  resize: vertical;
}

form {
  margin: 2rem 0;
}

fieldset {
  padding: 0;
  margin-bottom: var(--spacing-default);
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-default);

  & label {
    flex-basis: 10rem;
    flex-grow: 1;
  }

  & .textarea {
    flex-basis: 100%;
  }
}
