code {
  background-color: var(--code-background-color);
  border-radius: 0.3em;
  color: var(--code-foreground-color);
  display: inline-block;
  font-family: var(--monospaced-font);
  font-size: 0.90em;
  font-weight: 400;
  padding: 0 0.5em;
}

pre {
  &.grvsc-container {
    font-size: 1rem;
    line-height: 1.6;

    &::selection,
    & ::selection {
      background: var(--code-selection-color);
      text-shadow: none;
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0 0 0 / 5%);
    }

    & > code {
      background-color: transparent;
    }
  }
}
