%animated {
  animation-fill-mode: both;
}

%pulsate {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulsate;
}

%pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($tag-macos, 0.8);
  }

  33% {
    box-shadow: 0 0 0 2rem rgba($tag-macos, 0);
  }

  33.1% {
    box-shadow: 0 0 0 0 rgba($tag-javascript, 0.8);
  }

  66% {
    box-shadow: 0 0 0 2rem rgba($tag-javascript, 0);
  }

  66.1% {
    box-shadow: 0 0 0 0 rgba($tag-safari, 0.8);
  }

  100% {
    box-shadow: 0 0 0 2rem rgba($tag-safari, 0);
  }
}

@keyframes pulsate {
  0%, 25%, 50% {
    transform: scale(1);
  }

  15%, 35% {
    transform: scale(1.1);
  }
}
