%blog-container {
  background-color: $white;
  padding: 2em;

  a {
    // color: $blog-link-color;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $blog-link-hover-color;
    }

    &:active {
      color: $blog-link-active-color;
    }
  }
}

.blog-page {
  .main-container {
    @extend %blog-container;
  }

  .post-list {
    margin: 0;
    padding: 0;
  }
}

.blog-content {
  margin: 10rem auto 4rem;
  max-width: $blog-container-width;

  @include media-width(until, $container-breakpoint) {
    margin-top: 0;
  }
}

.post-page {
  .main-container {
    @extend %blog-container;
  }
}

.post-list {
  margin: 0;
  padding: 0;
}

.post-list-item {
  list-style: none;
  padding: 2rem 0;
}

.post-summary {
  .post-title {
    margin-top: 0.4rem;
  }

  .post-metadata {}

  .footnote,
  .footnotes {
    display: none;
  }
}

.post-header {
  margin-bottom: 1.5rem;

  .post-title {
    font-size: 1.8rem;
    margin-top: 0.5rem;

    @include media-width(from, $container-breakpoint) {
      font-size: 2rem;
    }
  }
}

.post-category {
  color: $black;
  border-bottom: 1px solid;
  display: inline-block;
  font-family: $titillium;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-bottom: 0.2rem;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase;
}

.post-title {
  font-family: $titillium;
  font-weight: 600;
  line-height: 1.3;
}

.post-link {
  &,
  &:link,
  &:visited {
    color: $pitch-black;
  }

  &:hover {
    text-decoration: none;
    color: $blog-link-hover-color;
  }
}

[class*=metadata] {
  color: $gray;
  font-size: 0.9rem;
}

.post-metadata {
  font-family: $titillium;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

[class*=tag-list] {
  list-style: none;
  margin: 0;
}

.tag-label {
  display: inline-block;

  &::after {
    color: $blog-tertiary-color;
    content: "/";
  }

  &:last-of-type::after {
    content: "";
  }
}

.separator {
  color: $blog-tertiary-color;
  font-weight: 600;
}

@mixin style-reading-time($speed, $start, $end: $start) {
  @include assert(wtr-is-number($start), "First argument should be a number");
  @include assert(wtr-is-number($end), "Second argument should be a number");
  @include assert(wtr-is-string($speed), "Third argument should be a string");

  @for $i from $start through $end {
    [data-reading-time="#{$i}"] {
      @extend %data-reading-#{$speed};
    }
  }
}

$fill-color: $blog-link-color;
$unfill-color: $blog-tertiary-color;

[data-reading-time] {
  fill: $fill-color;
  margin-left: 0.2em;
}

%data-reading-tiny {
  fill: $unfill-color;

  .dot:nth-of-type(1) {
    fill: $fill-color;
  }
}

%data-reading-short {
  @extend %data-reading-tiny;

  .dot:nth-of-type(2) {
    fill: $fill-color;
  }
}

%data-reading-medium {
  @extend %data-reading-short;

  .dot:nth-of-type(3) {
    fill: $fill-color;
  }
}

@include style-reading-time("tiny", 1);
@include style-reading-time("short", 2, 3);
@include style-reading-time("medium", 4, 7);

article[class*=post] {
  $image-outdent: 5%;
  $margin: 1.5em;

  figure {
    margin: $margin 0;

    @include media-width(from, $container-breakpoint) {
      margin: ($margin * 2) 0 ($margin * 1.5);
    }
  }

  figcaption {
    color: $gray;
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 0.5em;
  }

  img {
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px rgba($black, 0.05);
    margin-left: $image-outdent * -1;
    max-width: 100% + $image-outdent * 2;

    &[alt*="[Chart]"] {
      border-radius: 0;
      box-shadow: none;
    }
  }

  ul,
  ol {
    padding: 0;
    list-style-type: none;
  }

  blockquote {
    border-left: 2px solid $gray;
    font-style: italic;
    margin: 2em 0;
    padding-left: 0.8em;
  }
}

[class*=post-content] {
  color: $pitch-black;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 1em;
  font-family: $sintony;

  a {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid rgba($blog-link-color, 0.4);
    background-color: rgba($blog-link-color, 0.08);
    transition: all 0.2s;

    &:active {
      color: $blog-link-active-color;
    }

    &:hover,
    &:focus {
      color: $blog-link-hover-color;
      background-color: transparent;
      border-bottom: 1px solid $blog-link-color;
    }

    &:link {
      color: $blog-link-color;
    }

    &:visited {
      color: $blog-link-visited-color;
    }
  }

  li {
    list-style: none;
    position: relative;

    &::before {
      color: darken($ash, 20%);
      content: "–";
      left: -1em;
      position: absolute;

      @include media-width(from, $container-width) {
        left: -1.2em;
      }
    }
  }

  h3,
  h4 {
    font-family: $titillium;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
  }

  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h4 {
    font-size: 0.95rem;
    font-style: italic;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.full-post-content {
  > p:first-child {
    font-size: 1.2em;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 1.2em;
    margin-top: 0;
  }
}

.footnotes {
  border-top: 1px solid $ash;
  font-size: 0.9em;
}

.feedback-box {
  background-color: #FAFAFA;
  border-radius: 4px;
  margin: 3rem auto 1rem;
  padding: 1rem;
}
