@function color-is-light($hex-color) {
  $red: red(rgba($hex-color, 1));
  $green: green(rgba($hex-color, 1));
  $blue: blue(rgba($hex-color, 1));

  $lightness: ($red * 0.2126 + $green * 0.7152 + $blue * 0.0722) / 255;

  @return $lightness > 0.6;
}

@mixin colorize-button($color: $black, $text-color: $white) {
  background-color: $color;
  color: $text-color;

  &:hover {
    background-color: lighten($color, 2%);
    box-shadow: 0 10px 20px rgba($pitch-black, 0.3);
  }

  &:active {
    transform: scale(0.95);
  }
}

%default-button {
  -webkit-font-smoothing: antialiased;
  @include colorize-button($banana, $dusk);
}

[class$=button] {
  @extend %default-button;
  border-radius: 12em;
  display: inline-block;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
  }
}

