footer {
  background-color: $mirage;
  padding: $large-spacing;
  text-align: center;

  hr {
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    color: lighten($honey-flower, 10%);

    em {
      font-size: 1.2rem;
      vertical-align: top;
    }
  }
}

.links-list {
  color: lighten($honey-flower, 10%);
  list-style: none;
  margin: 0;
  padding: 0 0 1em;

  .link {
    display: inline-block;
    font-weight: 300;
  }

  .separator {
    color: lighten($dusk, 10%);
    display: inline-block;
    margin: 0 0.5em;
  }
}
