.main-header {
  background-color: $mirage;
}

.header-container {
  margin: 0 auto;
  max-width: $container-width;
  padding: $large-spacing 0;
  text-align: center;

  @include media-width(from, $container-width) {
    padding: ($large-spacing * 2) 0;
  }

  .narrow-header & {
    padding: $large-spacing 0;
    text-align: left;
  }
}

.home-link {
  color: $white;
  text-decoration: none;

  .narrow-header & {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include media-width(until, $container-width) {
      justify-content: center;
    }
  }
}

.mugshot-container {
  @include size(9rem);
  background-image: url("/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: auto auto $large-spacing;

  @include media-width(until, $container-width) {
    @include size(6rem);
    margin: auto auto $base-spacing;
  }

  .narrow-header & {
    @include size(5rem);
    flex-shrink: 1;
    margin: 0 $base-spacing 0 0;

    @include media-width(until, 25rem) {
      @include size(4rem);
    }
  }
}

.header-full-name {
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0.2em;
  margin-top: 0;
  transition: color 0.2s linear;

  .narrow-header & {
    font-size: 1.5rem;
  }
}

.header-tagline {
  color: $banana;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
  transition: color 0.2s linear;

  .narrow-header & {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.home-link {
  display: inline-block;
  margin: 0 auto;

  &:hover {
    .header-full-name {
      color: $banana;
    }

    .header-tagline {
      color: $white;
    }

    .mugshot-container {
      @extend %pulse;
    }
  }
}
