@mixin tag($color: $black) {
  &::before {
    color: $color;
  }
}

@function color-is-light($hex-color) {
  $red: red(rgba($hex-color, 1));
  $green: green(rgba($hex-color, 1));
  $blue: blue(rgba($hex-color, 1));

  $lightness: ($red * 0.2126 + $green * 0.7152 + $blue * 0.0722) / 255;

  @return $lightness > 0.6;
}

@function is-light($hex-color) {
  $-local-red: red(rgba($hex-color, 1));
  $-local-green: green(rgba($hex-color, 1));
  $-local-blue: blue(rgba($hex-color, 1));
  $-local-lightness: ($-local-red * 0.2126 + $-local-green * 0.7152 + $-local-blue * 0.0722) / 255;

  @return $-local-lightness > 0.6;
}

@mixin colorize-button($color: $black, $text-color: $white) {
  background-color: $color;
  color: $text-color;

  &:hover {
    background-color: lighten($color, 2%);
    box-shadow: 0 10px 20px rgba($pitch-black, 0.3);
  }

  &:active {
    transform: scale(0.95);
  }
}

%default-button {
  -webkit-font-smoothing: antialiased;
  @include colorize-button($banana, $dusk);
}

%blog-container {
  background-color: $white;
  padding: 2em;

  a {
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $blog-link-hover-color;
    }

    &:active {
      color: $blog-link-active-color;
    }
  }
}
