@import "vendor";
@import "syntax";
@import "colors";
@import "variables";
@import "buttons";

body {
  background-color: $page-background-color;
  box-sizing: border-box;
  color: $page-text-color;
  font-family: $apple-system;
  margin: auto;
  max-width: 40rem;
  padding: 0 2rem;
}

a {
  color: darken(complement($page-main-color), 35%);

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

h2 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  margin: 2rem auto;
}

.main-title {
  @include media-width(until, $container-width) {
    text-align: center;
  }

  @include media-width(from, $container-width) {
    display: flex;
    margin: 5rem auto;
  }
}

.main-title-icon {
  @include media-width(from, $container-width) {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.main-title-copy {
  @include media-width(from, $container-width) {
    border-left: $page-border;
    margin-left: 1.4rem;
    padding-left: 2rem;

    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
  }

  @include media-width(until, $container-width) {
    margin: 0 auto 3rem;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 0.8rem;
    text-transform: uppercase;

    @include media-width(until, $container-width) {
      display: block;
    }
  }

  .tagline {
    font-size: 1rem;
    font-weight: 300;
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 1.4;
    max-width: 20rem;
    opacity: 0.7;

    @include media-width(until, $container-width) {
      display: inline-block;
    }
  }
}

.icon {
  @include media-width(from, $container-width) {
    margin-top: 0.5rem;
  }

  @include media-width(until, $container-width) {
    margin-bottom: 1rem;
    max-width: 85px;
  }
}

.screenshot {
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(#000, 0.1);
  margin-top: 1em;
}

.description {
  border-bottom: $page-border;
  letter-spacing: 0.03em;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  padding-top: 1em;
  text-align: center;

  @include media-width(from, $container-width) {
    width: 90%;
  }
}

footer {
  letter-spacing: 0.04em;
  padding-bottom: 3rem;
  text-align: center;
}

[class$=button] {
  @include colorize-button($page-main-cta-color);
  border-radius: 3em;
  display: block;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 2rem auto;
  padding: 1.5rem 2rem 1.4rem;
  text-transform: uppercase;
  width: 70%;

  .details {
    opacity: 0.5;
  }
}
