$highlights-width: $container-width;
$highlights-transition-duration: 0.2s;

.recent-projects-section {
  background-color: $dusk;
  overflow: hidden;
  padding: $large-spacing;
  text-align: center;

  .section-heading {
    color: $white;
    font-weight: 500;
    letter-spacing: .2em;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 4rem;

    &::after {
      @include size(4rem , 3px);
      background-color: $yellow-orange;
      content: "";
      display: block;
      margin: 1.5rem auto 0;
    }
  }

  .button {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: $base-spacing auto $large-spacing;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: $highlights-width;
  padding: 0;
}

.project-cell {
  background-color: lighten($mirage, 5%);
  border: 1px solid $dusk;
  border-radius: 6px;
  flex: 0 1 280px;
  font-smoothing: antialiased;
  list-style-type: none;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba($pitch-black, 0.2);
  }

  .year-label {
    color: $yellow-orange;
  }

  a {
    text-decoration: none;
  }
}

.project-image {
  display: block;
  max-width: 100%;
}

.project-details {
  text-align: center;
}

.project-name {
  color: $white;
  font-size: .9rem;
  letter-spacing: .08em;
  margin: $large-spacing auto 0;
  max-width: 14em;
  text-align: center;
  text-transform: uppercase;
}

.project-description {
  color: $secondary-text-color;
  font-size: 0.8rem;
  margin: $small-spacing auto $large-spacing;
  max-width: 14em;
  text-align: center;
}

.project-tag-list {
  background-color: $pitch-black;
  list-style: none;
  margin: 0;
  padding: $small-spacing $base-spacing;

  .tag {
    border-radius: 10em;
    color: $white;
    display: inline-block;
    font-size: 0.55rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    margin-right: 1em;
    text-transform: uppercase;

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      content: "●";
      font-size: 1rem;
      margin-right: 2px;
      vertical-align: -2px;
    }
  }
}

@each $tag, $color in $tag-colors {
  [data-tag="#{$tag}"] {
    @include tag($color);
  }
}
