$container-width: 60rem;
$container-padding: 1rem;
$container-breakpoint: $container-width;
$sidebar-max-width: 22.5rem;

$blog-container-width: 40rem;

$apple-system: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$fira: "Fira Sans", $apple-system;
$titillium: "Titillium Web", sans-serif;
$sintony: "Sintony", "Helvetica Neue", "Arial", sans-serif;

$base-spacing: 1rem;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$large-spacing: $base-spacing * 2;

$border-radius: 4px;

// Colors
$black: #555;
$pitch-black: #000;
$white: #fff;
$ash: #f5f5f5;
$gray: #b0b0b0;
$lilac: #f1f9ff;

$banana: #ffd280;
$yellow-orange: #faa029;
$honey-flower: #824c96;
$argile: #ed733f;
$dusk: #433466;
$mirage: #1a1327;
$mauve: #7760c3;

$black-russian: rgb(26, 18, 40);
$revolver: rgb(40, 30, 62);
$jacarta: rgb(67, 50, 103);
$lavender: rgb(179, 132, 196);
$deep-saffron: rgb(252, 161, 5);
$topaz: rgb(255, 211, 122);
$jasmine: rgb(255, 229, 123);
$plum: rgb(151, 45, 127);
$medium-red-violet: rgb(182, 43, 126);
$bleu-de-france: rgb(61, 164, 239);
$united-nations-blue: rgb(76, 136, 227);
$purple-heart: rgb(96, 54, 173);

$tag-macos: #3398db;
$tag-ios: #3398db;
$tag-swift: #f39700;
$tag-design: #ff6166;
$tag-web: #00c8a7;
$tag-javascript: #f6c831;
$tag-branding: #bb6f09;
$tag-safari: #8c3dd1;
$tag-open-source: #7ed321;
$tag-game: #4946cb;

$accent-color: $yellow-orange;
$background-color: $mirage;
$link-color: $banana;
$secondary-text-color: lighten($dusk, 40%);

$tag-colors: (
  macos: $tag-macos,
  ios: $tag-ios,
  design: $tag-design,
  swift: $tag-swift,
  web: $tag-web,
  javascript: $tag-javascript,
  branding: $tag-branding,
  safari: $tag-safari,
  OSS: $tag-open-source,
  resource: mix($tag-design, $tag-safari),
  game: $tag-game
);

// Blog 

$blog-accent-color: $mauve;
$ashtray: adjust-hue($blog-accent-color, -50deg);

$blog-link-active-color: darken($blog-accent-color, 40%);
$blog-link-color: $blog-accent-color;
$blog-link-hover-color: $blog-accent-color;
$blog-link-visited-color: darken($blog-accent-color, 20%);
$blog-tertiary-color: darken($ash, 5%);

// Animations

%animated {
  animation-fill-mode: both;
}

%pulsate {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulsate;
}

%pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($tag-macos, 0.8);
  }

  33% {
    box-shadow: 0 0 0 2rem rgba($tag-macos, 0);
  }

  33.1% {
    box-shadow: 0 0 0 0 rgba($tag-javascript, 0.8);
  }

  66% {
    box-shadow: 0 0 0 2rem rgba($tag-javascript, 0);
  }

  66.1% {
    box-shadow: 0 0 0 0 rgba($tag-safari, 0.8);
  }

  100% {
    box-shadow: 0 0 0 2rem rgba($tag-safari, 0);
  }
}

@keyframes pulsate {
  0%, 25%, 50% {
    transform: scale(1);
  }

  15%, 35% {
    transform: scale(1.1);
  }
}

// Extends
