@import "vendor";
@import "syntax";
@import "colors";
@import "variables";
@import "buttons";

$page-main-color: #f95d5e;
$page-background-color: $white;
$page-text-color: $black;
$page-border: 1px solid lighten($page-main-color, 25%);
$page-main-cta-color: darken($page-main-color, 5%);

@import "product";
