---
import NavigationLayout from "@layouts/NavigationLayout.astro";
---

<NavigationLayout>
  <h2>Get in Touch</h2>
  <p>
    Do you have some feedback or just want to say hi? Use the form below to get
    in touch. I will do my best to reply within a reasonable timeframe.
  </p>
  <form
    name="contact"
    method="POST"
    action="https://usebasin.com/f/7ca7e53b4b0d"
  >
    <input type="hidden" name="form-name" value="contact" />
    <fieldset>
      <label class="mb-2 block">
        <input
          class="w-full appearance-none rounded-md px-3 py-2 text-base placeholder:text-stone-300 dark:bg-slate-800 dark:text-slate-400 placeholder:dark:text-slate-500"
          placeholder="Your Name"
          type="text"
          name="name"
          required
        />
      </label>
      <label class="mb-2 block">
        <input
          class="w-full appearance-none rounded-md px-3 py-2 text-base placeholder:text-stone-300 dark:bg-slate-800 dark:text-slate-400 placeholder:dark:text-slate-500"
          placeholder="Your Email"
          type="email"
          name="email"
          required="true"
        />
      </label>
      <label class="mb-2 block">
        <textarea
          class="h-40 w-full appearance-none rounded-md px-3 py-2 text-base placeholder:text-stone-300 dark:bg-slate-800 dark:text-slate-400 placeholder:dark:text-slate-500"
          placeholder="Your Message..."
          name="message"
          id="message"
          required="true"></textarea>
      </label>
    </fieldset>
    <button
      type="submit"
      class="pressed:scale-90
      rounded-3xl
      bg-amethyst
      px-6
      py-2
      text-white
      transition
      duration-150 ease-in-out hover:animate-pulse
      hover:bg-blue-700
      active:scale-90
      dark:bg-banana
      dark:text-asphalt"
      >Send</button
    >
  </form>
</NavigationLayout>
