:root {
  --primary-color: #4a20ac;
  --secondary-color: #ffd080;

  --dusk-blue: #7b94ce;
  --marin-blue: #4e618e;

  --light-theme-bg-color: #fff7e6;
  --light-theme-fg-color: #202020;
  --light-theme-link-color: #7760c3;

  --dark-theme-bg-color: #191f2d;
  --dark-theme-fg-color: white;
  --dark-theme-link-color: #7760c3;

  --theme-background-color: var(--light-theme-bg-color);
  --theme-foreground-color: var(--light-theme-fg-color);
  --theme-inset-background-color: color-mod(var(--theme-background-color) shade(2%));
  --theme-bullet-dash-color: color-mod(var(--theme-foreground-color) alpha(40%));

  --theme-link-color: var(--light-theme-link-color);
  --theme-visited-link-color: color-mod(var(--theme-link-color) shade(20%));
  --theme-link-hover-background-color: color-mod(var(--theme-link-color) alpha(8%));
  --theme-link-border-bottom-color: color-mod(var(--theme-link-color) alpha(40%));

  --theme-secondary-foreground-color: gray(50);
  --theme-tertiary-foreground-color: gray(30);

  --theme-quote-background-color: color-mod(var(--dusk-blue) alpha(5%));
  --theme-quote-foreground-color: color-mod(var(--marin-blue) alpha(80%));
  --theme-quote-border-color: color-mod(var(--marin-blue) alpha(30%));

  --code-number-color: #f9730f;
  --code-string-color: #00c8a7;
  --code-keyword-color: #3da4ef;
  --code-variable-color: #ff6166;
  --code-comment-color: #b2b5c3;
  --code-background-color: color-mod(var(--dusk-blue) alpha(8%));
  --code-foreground-color: color-mod(var(--dusk-blue) shade(25%));
  --code-function-color: var(--theme-link-color);
  --code-selection-color: color-mod(var(--code-keyword-color) alpha(20%));
  --code-hover-background-color: white;
  --code-inserted-color: #eeebff;
  --code-highlighted-line-color: rgba(0 0 0 / 5%);
  --code-highlighted-line-border-color: #f99;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-background-color: var(--dark-theme-bg-color);
    --theme-foreground-color: var(--dark-theme-fg-color);
    --theme-inset-background-color: color-mod(var(--dark-theme-bg-color) shade(20%));
    --theme-bullet-dash-color: color-mod(var(--dark-theme-fg-color) alpha(40%));

    --theme-link-color: var(--secondary-color);
    --theme-visited-link-color: color-mod(var(--secondary-color) shade(30%));
    --theme-link-hover-background-color: color-mod(var(--secondary-color) alpha(8%));
    --theme-link-border-bottom-color: color-mod(var(--secondary-color) alpha(40%));

    --theme-secondary-foreground-color: var(--dusk-blue);
    --theme-tertiary-foreground-color: var(--marin-blue);

    --theme-quote-background-color: color-mod(var(--dark-theme-fg-color) alpha(2%));
    --theme-quote-foreground-color: var(--theme-secondary-foreground-color);
    --theme-quote-border-color: var(--theme-tertiary-foreground-color);

    --code-background-color: color-mod(var(--dusk-blue) alpha(10%));
    --code-foreground-color: color-mod(var(--dusk-blue) tint(20%));
    --code-function-color: var(--theme-link-color);
    --code-hover-background-color: black;
    --code-comment-color: color-mod(var(--dusk-blue) alpha(50%));
  }
}

/* @media (prefers-color-scheme: light) {
  :root,
  .light-mode {
  }
} */

@custom-media --dark-mode (prefers-color-scheme: dark);
