:root {
  --footer-padding: 2rem;
  --grid-container-full-width: 60rem;
  --header-top-spacing: 4rem;
  --image-vertical-spacing: 2rem;
  --main-content-max-width: 40rem;
  --sidebar-max-width: 22.5rem;
  --spacing-default: 1rem;

  --main-container-padding: calc(var(--header-top-spacing) * 1.6);
  --sheet-margin-top: var(--main-container-padding);
}

@custom-media --full-grid-container (width >= 60rem);
@custom-media --narrow-grid-container (width < 60rem);
@custom-media --full-width-image (width < 450px);

%sheet {
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
}

%gradient-background {
  background: linear-gradient(transparent, rgb(0 0 0 / 18%));
}

%sakigake-pseudo {
  background-color: color-mod(var(--secondary-color) alpha(35%));
  content: '';
  display: inline-block;
  height: 1px;
  vertical-align: 10px;
  width: calc(var(--header-title-size) * 4);
}
