:root {
  --footer-padding: 2rem;
  --grid-container-full-width: 60rem;
  --header-top-spacing: 4rem;
  --image-vertical-spacing: 2rem;
  --main-content-max-width: 40rem;
  --sidebar-max-width: 20rem;
  --spacing-default: 1rem;

  --main-container-padding: 6rem;
  --sheet-margin-top: var(--main-container-padding);
}

@custom-media --full-grid-container (width >= 60rem);
@custom-media --narrow-grid-container (width < 60rem);
@custom-media --full-width-image (width < 450px);

%sheet {
  color: var(--theme-foreground-color);
  padding-bottom: 3rem;

  @media (--full-grid-container) {
    padding-top: 10.2rem;
  }

  &::before {
    --offset: 28vw;
    background-image: var(--background-data-uri);
    background-position-x: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 100vh;
    margin-left: calc(var(--offset) * -1);
    position: fixed;
    top: 0;
    width: calc(100vw + var(--offset));
    z-index: -1;

    @media (--narrow-grid-container) {
      margin-left: -30vw;
      width: 130vw;
    }
  }
}

%gradient-background {
  background: linear-gradient(transparent, rgb(0 0 0 / 18%));
}

%sakigake-pseudo {
  background-color: var(--theme-link-color);
  content: '';
  display: inline-block;
  height: 1px;
  opacity: 0.2;
  vertical-align: 10px;
  width: calc(var(--header-title-size) * 4);
}

.grid-container {
  min-height: 100vh;
  max-width: calc(var(--grid-container-full-width) + var(--sidebar-max-width));
  margin: 0 auto;

  @media (--full-grid-container) {
    display: grid;
    grid-template-columns: var(--sidebar-max-width) 1fr;
    grid-template-rows: auto 1fr auto;
  }

  & .site-header {
    grid-area: 1 / 1;
  }

  & .site-navigation {
    grid-area: 2 / 1;
  }

  & .site-footer {
    grid-area: 3 / 1;
  }

  & .main-container {
    grid-area: 1 / 2 / -1;
  }
}

.main-container {
  @extend %sheet;
  overflow: hidden;
  padding-left: calc(var(--main-container-padding) / 2);
  padding-right: calc(var(--main-container-padding) / 2);

  @media (--full-grid-container) {
    padding-left: var(--main-container-padding);
    padding-right: var(--main-container-padding);
    margin-top: -0.5rem;
  }

  @media (--narrow-grid-container) {
    padding-top: 2rem;
  }

  & .divider {
    @extend %divider;
    margin: 2rem 0;
  }
}
