@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --font-fira: 'Fira Mono';
  --font-inter: 'Inter';
  --header-title-size: 1.1rem;
  --blog-body-size: 1.125rem;

  --text-font: var(--font-inter), system-ui;
  --monospaced-font: var(--font-fira), monospace;
}

h1 {
  font-weight: 800;
  line-height: 1.3;
}

h2 {
  font-weight: 700;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

h3,
h4,
h5 {
  font-weight: 600;
}

.inline-icon {
  height: 1em;
}

%body-text {
  font-size: 1rem;
  color: var(--theme-foreground-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

%dash-divider {
  border: none;
  background-color: var(--secondary-color);
  display: block;
  height: 2px;
  margin-top: 1em;
  width: 4em;
}

%divider {
  border: none;
  background-color: var(--theme-tertiary-background-color);
  display: block;
  height: 2px;
  width: 100%;
}

%heading {
  font-size: 1rem;
  letter-spacing: .16em;
  text-transform: uppercase;

  &::after {
    @extend %dash-divider;
    content: "";
  }
}

%inline-link-style {
  text-decoration: none;
  border-bottom: 1px solid var(--theme-link-border-bottom-color);
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: var(--theme-link-hover-background-color);
    border-bottom: 1px solid var(--theme-link-color);
  }

  &:visited {
    color: var(--theme-visited-link-color);
  }
}

%highlight-p {
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.8;
}

%standalone-blog-link {
  background-color: var(--theme-blog-link-background-color);
  border-radius: 1rem;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: var(--link-transition);

  &:hover {
    background-color: var(--theme-blog-hover-link-background-color);
  }

  &:nth-child(2) {
    margin-left: 1em;
  }
}
