---
import NavigationLayout from '@layouts/NavigationLayout.astro';
---

<NavigationLayout title="Page not found">
  <main>
    <h2>Page not found 😔</h2>
    <p>
      The page you are looking for does not exist.
    </p>
    <p>
      If you are using a link from the previous version of the website, try appending "2023" to the host name like so <code>2023.redalemeden.com/[path]</code>.
    </p>
  </main>
</NavigationLayout>
