.blog-page {
  & .main-container {
    background-color: var(--light-theme-bg-color);
    color: var(--light-theme-fg-color);
    transform: translateY(20px);
    border-top-left-radius: 1rem;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.35);
  }

  & a {
    color: var(--theme-link-color);
  }
}

.blog-content {
  margin-bottom: 4rem;
  padding-top: 2rem;
  max-width: var(--main-content-max-width);

  @media (--full-grid-container) {
    margin-top: var(--header-top-spacing);
    padding-top: 0;
  }
}

.blog-intro {
  @extend %body-text;
  margin-bottom: 3rem;
}

.post-list {
  margin: 0;
  padding: 0;
}

.post-list-item {
  list-style: none;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

.post-link {
  transition: all 0.2s linear;

  &:any-link {
    text-decoration: none;
    color: var(--theme-foreground-color);
  }

  &:hover {
    color: var(--theme-link-color);
    background-color: hsl(var(--primary-color-hsl) / 5%);
  }
}

.post-category {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  border-bottom: 1px solid gray(80);
  margin-bottom: 0.8rem;
  letter-spacing: 0.05em;
  color: gray(30);
  display: inline-block;
}

.post-title {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 1.55rem;
}

.post-metadata {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 0.8rem;
  color: gray(50);
  margin-top: 0.5rem;
}

.post-header {
  margin-bottom: 3rem;

  & .post-title {
    font-size: 1.8rem;
  }
}

.full-post-content {
  line-height: 1.6;
  font-size: 1.125rem;

  & a {
    text-decoration: none;
    border-bottom: 1px solid color-mod(var(--theme-link-color) alpha(40%));
    transition: all 0.2s;
  }
}
