.blog-page {
  & .main-container {
    @extend %sheet;
    overflow: hidden;
  }

  & a {
    color: var(--theme-link-color);
  }
}

.blog-content {
  margin-bottom: 2rem;
  padding-top: 2rem;

  @media (--full-grid-container) {
    margin-top: var(--sheet-margin-top);
    padding-top: 0;
    margin-bottom: var(--sheet-margin-top);
  }
}

.pagination-links {
  padding: 2rem 0;

  & a {
    background-color: color-mod(var(--theme-link-color) alpha(5%));
    border-radius: 1rem;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: var(--link-transition);

    &:hover {
      background-color: color-mod(var(--theme-link-color) alpha(15%));
    }

    &:nth-child(2) {
      margin-left: 1em;
    }
  }
}

.blog-intro {
  @extend %body-text;
  margin-bottom: 3rem;
  color: var(--theme-secondary-foreground-color);
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 0.2em;
  margin-top: 0;
  max-width: 20em;
}

.post-list {
  margin: 0;
  padding: 0;

  & .post-title {
    font-weight: 500;
  }
}

.post-list-item {
  list-style: none;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

.post-link {
  transition: var(--link-transition);

  &:any-link {
    text-decoration: none;
    color: var(--theme-foreground-color);
  }

  &:hover {
    color: var(--theme-link-color);
    background-color: color-mod(var(--primary-color) alpha(5%));
  }
}

.post-category {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  border-bottom: 1px solid color-mod(var(--theme-tertiary-foreground-color) alpha(50%));
  margin-bottom: 0.8rem;
  letter-spacing: 0.05em;
  color: var(--theme-tertiary-foreground-color);
  display: inline-block;
}

.post-metadata {
  color: var(--theme-secondary-foreground-color);
  font-size: 0.8rem;
  letter-spacing: 0.07em;
  line-height: 1.5;
  margin-top: 0.5rem;
  text-transform: uppercase;

  & .tag-list {
    margin: 0;
    padding: 0;
    display: inline;
  }

  & li {
    display: inline;
    margin: 0 0.2em;
  }
}

.post-header {
  margin-bottom: 2.5rem;

  & .post-title {
    font-size: 1.8rem;
  }
}

.footnotes {
  font-size: 0.9em;
  margin-top: 2rem;

  & p {
    display: inline;
  }

  & hr {
    background: rgba(0 0 0 / 10%);
    border: 0;
    height: 1px;
  }
}

.full-post-content {
  line-height: 1.6;
  font-size: var(--blog-body-size);
  letter-spacing: 0.02em;

  & strong {
    font-weight: 500;
  }

  & a {
    @extend %inline-link-style;

    & code {
      text-decoration: underline;
    }
  }

  & del {
    & code {
      text-decoration: line-through;
    }
  }

  & p {
    margin: 1em 0;
  }

  /* Header Links */
  & a.anchor {
    background-color: transparent;
    border-bottom: none;
    float: none;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 100;
    margin-left: -1rem;
    opacity: 0.4;
    padding-right: 0;
    position: relative;
    vertical-align: middle;

    &:hover {
      background-color: transparent;
      border-bottom: none;
      opacity: 1;
    }
  }

  & ol {
    padding: 0;
    margin: 0;
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    & li {
      position: relative;
      margin-bottom: 0.4em;

      &::before {
        color: var(--theme-bullet-dash-color);
        content: '–';
        left: -1em;
        position: absolute;
      }

      & ul,
      & ol {
        padding-left: 1rem;

        & li::before {
          color: var(--theme-bullet-dash-color);
          content: '>';
        }
      }
    }

    &:last-child {
      margin-bottom: 1em;
    }
  }

  & blockquote {
    background: linear-gradient(90deg, var(--theme-quote-background-color), transparent);
    border-left: 2px solid var(--theme-quote-border-color);
    color: var(--theme-quote-foreground-color);
    margin: 2em 0;
    overflow: hidden;
    padding: 0.5em 1em 0.5em 1.5em;

    & p {
      margin: 0.6em auto;
    }
  }

  & :--heading {
    margin: 1rem 0;
    font-weight: 500;
  }

  & h2 {
    font-size: 1.4rem;
    margin: 2rem 0;
  }

  %blog-headings {
    letter-spacing: 0.05em;
    line-height: 1.4em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
  }

  & h3 {
    @extend %blog-headings;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  & h4 {
    @extend %blog-headings;
    font-size: 0.95rem;
    font-weight: 500;
    font-style: italic;
  }

  & img {
    --outdent: 5%;
    margin-left: calc(var(--outdent) * -1);
    margin-top: var(--image-vertical-spacing);
    margin-bottom: var(--image-vertical-spacing);
    width: calc(100% + (var(--outdent) * 2));
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0 0 0 / 10%);
    transition: all 1s;

    & + em {
      color: gray(60);
      display: block;
      font-size: 0.9rem;
      font-style: italic;
      margin-top: calc((var(--image-vertical-spacing) - 0.8rem) * -1);
      margin-bottom: var(--image-vertical-spacing);
      opacity: 0;
      transition: opacity 1s;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 10px 20px rgba(0 0 0 / 20%);
      transform: scale(1.01);

      & + em {
        opacity: 1;
      }
    }
  }

  & .assumed-audience {
    font-size: 0.98rem;
    font-style: italic;

    & small {
      font-size: 0.85rem;
    }
  }

  & .content-wrapper > p:first-of-type {
    background: transparent;
    border: none;
    font-size: 1.1em;
    font-style: italic;
    margin: 0 0 1.2em 0;
    padding: 0;
  }

  & .feedback-box {
    border-top: 1px solid var(--code-background-color);
    color: var(--theme-tertiary-foreground-color);
    font-size: 0.9rem;
    font-style: italic;
    margin: 3rem auto 1rem;
    padding: 0.6rem 0;
  }

  & sup a:any-link {
    border: none;
    font-weight: 500;
  }
}
