.home-page {
  & .main-container {
    @extend %gradient-background;
  }

  & .button {
    font-weight: 500;
  }
}

.intro-content {
  max-width: 38rem;

  & :--heading {
    margin-block: 0;
  }
}

.intro-tagline {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding-top: var(--header-top-spacing);
  padding-bottom: 1rem;
}

.intro-paragraph {
  font-size: 1.15rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.8;
  opacity: 0.8;

  & em {
    font-style: normal;
    font-weight: 500;
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  padding: 0;

  & .project-cell {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

.elsewhere {
  --max-width: 56rem;
  max-width: var(--max-width);

  & a {
    color: var(--secondary-color);
  }

  & ol {
    list-style: none;
  }

  & .column-heading {
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &::after {
      height: 2px;
    }
  }

  & .container {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  & .column {
    flex: 0 1 calc(var(--max-width) / 3);
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  & .article-list {
    padding: 0;
  }

  & .article {
    margin-bottom: 2rem;
  }

  & .article-link {
    text-decoration: none;
  }

  & .article-title {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 0.4rem;
    max-width: 14rem;
    transition: color 0.2s;

    &:hover {
      color: white;
    }
  }

  & .article-metadata {
    color: color-mod(white alpha(60%));
  }

  & .podcast-list {
    padding: 0;
  }

  & .podcast-cell {
    margin-bottom: 2rem;
  }

  & .podcast-thumbnail {
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    flex-shrink: 0;
  }

  & .podcast-name {
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 0.5em;

    & .role {
      color: color-mod(white alpha(30%));
    }
  }

  & .podcast-metadata {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
  }

  & .podcast-link {
    display: flex;
    text-decoration: none;
  }

  & .episode-metadata {
    line-height: 1.4;
    size: 0.9rem;
    color: color-mod(white alpha(60%));
  }
}
