.home-page {
  & .main-container {
    @extend %sheet;
    overflow: hidden;
  }

  & .button {
    font-weight: 500;
  }

  & hr {
    @extend %dash-divider;
    margin-top: 1em;
    margin-bottom: 2rem;
  }
}

.intro-content {
  max-width: 40rem;
}

.home-content {
  & h2 {
    @extend %heading;
    margin: 4rem 0 2rem;
  }
}

.project-list {
  --gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: var(--gap);
}

.highlight-section {
  @extend %highlight-p;

  & .section-subheading {
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
  }

  & ul {
    padding: 0;
  }

  & p {
    & a {
      @extend %inline-link-style;
    }
  }
}

.elsewhere {
  --max-width: 56rem;
  max-width: var(--max-width);

  & a {
    color: var(--theme-link-color);
  }

  & ol {
    list-style: none;
  }

  & .column-heading {
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &::after {
      height: 2px;
    }
  }

  & .container {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  & .column {
    flex: 0 1 calc(var(--max-width) / 3);
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  & .article-list {
    padding: 0;
  }

  & .article {
    margin-bottom: 2rem;
  }

  & .article-link {
    text-decoration: none;
  }

  & .article-title {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 0.4rem;
    max-width: 14rem;
    transition: color 0.2s;

    &:hover {
      color: var(--theme-foreground-color);
    }
  }

  & .article-metadata {
    color: var(--theme-foreground-color);
    opacity: 0.7;
  }

  & .podcast-list {
    padding: 0;
  }

  & .podcast-cell {
    margin-bottom: 2rem;
  }

  & .podcast-thumbnail {
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    flex-shrink: 0;
  }

  & .podcast-name {
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 0.5em;

    & .role {
      color: color-mod(white alpha(30%));
    }
  }

  & .podcast-metadata {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
  }

  & .podcast-link {
    display: flex;
    text-decoration: none;
  }

  & .episode-metadata {
    line-height: 1.4;
    size: 0.9rem;
    color: color-mod(white alpha(60%));
  }
}
