:root {
  --itunes-link-color: #58a5ff;
  --itunes-line-color: color-mod(var(--itunes-link-color) alpha(60%));
  --itunes-image-size: 90px;
  --itunes-secondary-color: #6682a9;
  --itunes-content-left-inset: 2rem;
  --itunes-container-max-width: 40rem;
}

.page-itunes {
  background-color: transparent;
  margin: auto;
  max-width: var(--itunes-container-max-width);
  min-height: 100vh;
  padding: 0 2rem;

  & h1,
  & h2,
  & h3 {
    font-weight: 200;
    letter-spacing: 0.02em;
    margin: 0;
  }

  & h1 {
    line-height: 1.3;
    margin-bottom: 0.2em;
  }

  & h2 {
    font-size: 1.2em;
  }

  & a {
    color: var(--itunes-link-color);
    position: relative;
    text-decoration: none;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 1px 0 0 color-mod(var(--itunes-link-color) alpha(30%));
    }
  }

  & .main-header {
    --inset: 6rem;
    border-left: 1px solid var(--itunes-line-color);
    margin-left: var(--itunes-image-size);
    max-width: 20rem;
    padding: var(--inset) 0 calc(var(--inset) * 2) var(--itunes-content-left-inset);
  }

  & main {
    &::after {
      border-left: 1px dashed var(--itunes-line-color);
      content: "";
      display: block;
      height: 30px;
      margin-left: var(--itunes-image-size);
      width: 1px;
    }
  }
  & .itunes-versions-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: var(--itunes-image-size);
  }

  & .itunes-version {
    --bullet-size: 8px;
    border-left: 1px solid var(--itunes-line-color);
    display: inline-block;
    padding-bottom: 8rem;
    padding-left: var(--itunes-content-left-inset);
    position: relative;
    width: 100%;

    & .description {
      /* font-weight: 300; */
      line-height: 1.5;
      letter-spacing: 0.05em;
      opacity: 0.8;
      transition: opacity 0.4s;
    }

    &:hover {
      & .description {
        opacity: 1;
      }
    }

    &::before {
      --width: 20px;
      border-bottom: 1px solid var(--itunes-line-color);
      content: "";
      display: block;
      left: calc(var(--width) * -1 / 2);
      position: absolute;
      width: var(--width);
    }
  }

  & .icon-wrapper {
    left: calc(-1 * var(--itunes-image-size) - 20px);
    max-width: var(--itunes-image-size);
    position: absolute;
    top: calc(var(--itunes-image-size) * -1 / 2);
    width: 100%;
  }

  & time {
    display: block;
    margin-top: -0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  & footer {
    --radius: 0.3rem;
    background-color: color-mod(black alpha(30%));
    border-radius: var(--radius);
    color: var(--itunes-secondary-color);
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 4rem auto 2rem var(--itunes-image-size);
    padding: 1rem 2rem;
    text-align: center;

    @media (--narrow-grid-container) {
      margin-left: 0;
    }
  }

  & .version-details {
    & time {
      font-weight: 300;
      margin-bottom: 0.4rem;
    }

    & .version {
      color: var(--itunes-secondary-color);
      font-weight: 400;
      margin: 0;
    }
  }
}
