.microblog-page {
  & .main-container {
    @extend %sheet;
    overflow: hidden;
  }

  & a {
    color: var(--theme-link-color);
  }

  & .full-post-content {
    & img {
      display: block;
      margin: var(--image-vertical-spacing) 0;
      max-width: 450px;

      @media (--full-width-image) {
        max-width: 100%;
      }
    }
  }

  & .title {
    margin: 0.2em 0 0;
    font-weight: normal;
  }

  & .permalink {
    text-decoration: none;
    color: gray(50);

    &:hover {
      text-decoration: underline;
    }
  }
}
