.microblog-page {
  & .full-post-content {
    & img {
      display: block;
      margin: var(--image-vertical-spacing) 0;
      max-width: 450px;

      @media (--full-width-image) {
        max-width: 100%;
      }
    }
  }

  & .title {
    margin: 0.2em 0 0;
    font-weight: 600;
  }

  & .permalink {
    text-decoration: none;
    color: var(--theme-link-color);

    &:hover {
      text-decoration: underline;
    }
  }

  & .edit-post {
    margin-top: 2rem;
  }
}

.edit-post {
  @extend %standalone-blog-link;
  font-size: 0.8em;
}
