:root {
  --nope-color: #f95d5e;
  --nope-border: 1px solid color-mod(var(--nope-color) alpha(25%));
  --nope-cta-color: color-mod(var(--nope-color) shade(5%));
}

.page-nope {
  color: black;
  background-color: white;

  & a {
    color: var(--nope-cta-color);
  }

  & .button {
    background-color: var(--nope-cta-color);
    color: white;
  }

  & .main-title-copy {
    @media (--full-grid-container) {
      border-left: var(--nope-border);
    }
  }

  & .description {
    border-bottom: var(--nope-border);
  }
}
