.page-product {
  margin: auto;
  max-width: 40rem;
  padding: 0 2rem;

  & a:not(.button) {
    &:hover {
      text-decoration: underline;
    }
  }

  & img {
    max-width: 100%;
  }

  & h2 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    margin: 2rem auto;
  }

  & .main-title {
    display: flex;
    margin: 5rem auto;
  }

  & .main-title-icon {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  & .main-title-copy {
    margin-left: 1.4rem;
    padding-left: 2rem;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;

    & .title {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin-bottom: 0.8rem;
      text-transform: uppercase;

      @media (--narrow-grid-container) {
        display: block;
      }
    }

    & .tagline {
      font-size: 1rem;
      font-weight: 300;
      font-weight: normal;
      letter-spacing: 0.02em;
      line-height: 1.4;
      max-width: 20rem;
      opacity: 0.7;

      @media (--narrow-grid-container) {
        display: inline-block;
      }
    }
  }

  & .icon {
    @media (--full-grid-container) {
      margin-top: 0.5rem;
    }

    @media (--narrow-grid-container) {
      margin-bottom: 1rem;
      max-width: 85px;
    }
  }

  & .screenshot {
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0 0 0 / 10%);
    margin-top: 1em;
  }

  & .description {
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    padding-top: 1em;
    text-align: center;

    @media (--full-grid-container) {
      width: 90%;
    }
  }

  & footer {
    letter-spacing: 0.04em;
    padding-bottom: 3rem;
    text-align: center;
  }

  & .button {
    border-radius: 3em;
    display: block;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 2rem auto;
    padding: 1.5rem 2rem 1.4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 70%;

    &:hover {
      text-decoration: none;
    }

    & .details {
      opacity: 0.5;
    }
  }
}

.longform-container {
  @extend .main-container;
  max-width: var(--grid-container-full-width);
  margin: 0 auto;
  padding-top: 0;

  & header {
    margin-top: 3rem;
    margin-bottom: 6rem;

    & .back-link {
      border-radius: 0.5rem;
      display: inline-block;
      padding: 0.5rem 1rem;
      transition: all 0.3s;
      margin-left: -1rem;

      &:hover {
        background-color: var(--theme-navigation-hover-link-bg-color);
        transform: scale(1.1);
      }
    }

    & .author-avatar {
      width: 2rem;
      border-radius: 1rem;
      display: inline-block;
      height: 2rem;
      margin-right: 0.6rem;
    }

    & .details {
      display: inline-block;
    }

    & .site-description {
      padding: 0;
      margin: 0;
      font-size: 0.8rem;
    }

    & .author-name {
      color: var(--theme-foreground-color);
      display: inline-block;
      font-size: 0.9rem;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }
}

.longform-content {
  @extend .full-post-content;

  & a.anchor {
    border-radius: 0.4rem;
    margin-left: -2.8rem;
    margin-right: 0.5rem;
    padding: 0.2em 0.5em 0 0.5em;

    & svg {
      fill: var(--theme-link-color);
    }
  }

  & h1 {
    margin: 0 1rem 1rem 0;

    & + hr {
      margin-bottom: 2.5rem;
    }
  }

  & hr {
    @extend %divider;
  }
}
