---
---

<header class="md:row-start-1 md:col-start-1 sm:pt-8 mb-8" >
  <a href="/" class="text-center block hover:opacity-70 transition-opacity">
    <img src="/author-photo.jpg" alt="Reda Lemeden" class="mask-sakigake w-32 mx-auto brightness-75 dark:brightness-100 dark:invert"/>
    <h1 class="uppercase font-bold tracking-[.18em] text-l pb-1">Reda Lemeden</h1>
    <p class="px-8 text-sm italic tracking-wide text-stone-400 dark:text-ash">
      Indie Developer & Designer
    </p>
  </a>
</header>

<style>
  @tailwind utilities;

  @layer utilities {
    .mask-sakigake {
      mask-image: url(/logomark.svg);
      mask-repeat: no-repeat;
    }
  }
</style>
