---

---

<header class="mb-8 sm:pt-8 md:col-start-1 md:row-start-1">
  <a href="/" class="block text-center transition-opacity hover:opacity-70">
    <img
      src="/author-photo.jpg"
      alt="Reda Lemeden"
      class="mask-sakigake mx-auto w-32 brightness-75 dark:brightness-100 dark:invert"
    />
    <h1 class="text-l pb-1 font-bold tracking-[.18em] uppercase">
      Reda Lemeden
    </h1>
    <p class="dark:text-ash px-8 text-sm tracking-wide text-stone-400 italic">
      Indie Developer & Designer
    </p>
  </a>
</header>

<style>
  .mask-sakigake {
    mask-image: url("/logomark.svg");
    mask-repeat: no-repeat;
  }
</style>
