---
import "../styles/global.css";
---

<nav class="self-start md:col-start-1 md:row-start-2">
  <hr
    class="dark:bg-ash mx-24 mb-4 block h-px border-0 bg-stone-300 opacity-60 md:mb-16"
  />

  <ul class="text-center">
    <li class="navigation-link">
      <a href="/work" class="sidebar-link">Work</a>
    </li>
    <li class="navigation-link">
      <a href="/blog">
        <span class="sidebar-link">Blog</span>
        <small class="sidebar-sublink">Unredacted</small>
      </a>
    </li>
    <li class="navigation-link">
      <a href="/contact" class="sidebar-link">Contact</a>
    </li>
  </ul>

  <hr
    class="dark:bg-ash mx-24 mb-12 block h-px border-0 bg-stone-300 opacity-60 md:hidden"
  />
</nav>

<style>
  @import "tailwindcss";
  @plugin "@tailwindcss/typography";

  @utility sidebar-link {
    @apply text-xs font-semibold tracking-widest uppercase md:text-sm;
  }

  /* @utility sidebar-sublink {
    @apply dark:text-ash hidden text-[.68em] font-light tracking-widest text-stone-500 uppercase md:block;
  }

  @utility navigation-link {
    @apply mb-4 inline-block px-4 align-middle md:mb-8 md:block md:px-0;
  } */
</style>
