---
import NavigationLayout from "@layouts/NavigationLayout.astro";
---

<NavigationLayout>
  <h2>Get in Touch</h2>
  <p>Do you have some feedback or just want to say hi? Use the form below to get in touch. I will do my best to reply within a reasonable timeframe.
  </p>

  <p class="py-2 px-4 border-2 rounded-xl border-stone-200 dark:border-slate-700">✅ Message successfully sent. Thank you for getting in touch!</p>
</NavigationLayout>
