@import "helpers";
@import "syntax";
@import "variables";
@import "mixins";

$page-main-color: #f95d5e;
$page-background-color: $white;
$page-text-color: $black;
$page-border: 1px solid lighten($page-main-color, 25%);
$page-main-cta-color: darken($page-main-color, 5%);

body.page-nope {
  color: $page-text-color;
  background-color: $page-background-color;
  a {
    color: darken(complement($page-main-color), 35%);
  }
  .main-title-copy {
    @include media-width(from, $container-width) {
      border-left: $page-border;
    }
  }
  .description {
    border-bottom: $page-border;
  }
  [class$=button] {
    @include colorize-button($page-main-cta-color);
  }
}

