@import "variables";

$code-number-color: $deep-saffron;
$code-function-color: $blog-link-color;
$code-string-color: $tag-web;
$code-keyword-color: $bleu-de-france;
$code-variable-color: $tag-design;

$code-light-theme-background-color: rgba($lilac, .7);
$code-dark-theme-background-color: $background-color;
$code-light-theme-foreground-color: darken($code-light-theme-background-color, 70%);
$code-dark-theme-foreground-color: #b8b8b8;

$code-comment-color: rgba(lighten(#343642, 50%), .8);
