@import "helpers";
@import "syntax";
@import "variables";
@import "mixins";
@import "tables";
@import "itunes";
@import "syndicate";
@import "nope";
@import "pip";

body.home-page {
  $highlights-width: $container-width;
  $highlights-transition-duration: 0.2s;

  .pagination {
    $margin: 0.14em;

    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 2em 0;

    .next-page-link {
      float: left;
      margin-right: $margin;
    }

    .previous-page-link {
      float: right;
      margin-left: $margin;
    }
  }

  .header-container {
    margin: 0 auto;
    max-width: $container-width;
    padding: $large-spacing 0;
    text-align: center;

    @include media-width(from, $container-width) {
      padding: ($large-spacing * 2) 0;
    }

    .narrow-header & {
      padding: $large-spacing 0;
      text-align: left;
    }
  }

  .elsewhere {
    // @include media-width(until, 40rem) {
    //   padding: $large-spacing;
    // }

    .article-list {
      padding: 0;

      .article {
        -webkit-font-smoothing: antialiased;
        margin-bottom: $large-spacing;
      }

      .article-link {
        text-decoration: none;
      }

      .article-title {
        font-size: 1em;
        font-weight: 500;
        margin: 0 0 0.4rem;
        max-width: 14rem;
        transition: color 0.2s;

        &:hover {
          color: $white;
        }
      }

      .article-metadata {
        font-size: 0.76rem;
        color: $secondary-text-color;
      }

      .outlet-thumbnail {
        width: 1.4rem;
        display: inline-block;
        margin-right: 0.2rem;
        vertical-align: -0.3rem;
        border-radius: 50%;
      }
    }

    .podcast-list {
      @include media-width(until, $container-width) {
        padding-left: $small-spacing;
      }
    }

    .podcast-cell {
      -webkit-font-smoothing: antialiased;
      margin-bottom: $large-spacing;

      .podcast-thumbnail {
        @include size(4rem);

        border-radius: 4px;
        flex-shrink: 0;
      }

      .podcast-name {
        color: $white;
        font-size: 0.9rem;
        font-weight: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0;
      }

      .role {
        color: $secondary-text-color;
      }

      .podcast-metadata {
        flex-grow: 1;
        text-align: left;
        padding-left: $base-spacing;
      }

      .podcast-link {
        display: flex;
        text-decoration: none;
      }

      .episode-metadata {
        font-size: 0.76rem;
        line-height: 0;
        color: $secondary-text-color;
      }
    }
  }

  .main-header {
    background-color: $mirage;
  }

  .header-container {
    margin: 0 auto;
    max-width: $container-width;
    padding: $large-spacing 0;
    text-align: center;

    @include media-width(from, $container-width) {
      padding: ($large-spacing * 2) 0;
    }

    .narrow-header & {
      padding: $large-spacing 0;
      text-align: left;
    }
  }
}

.project-cell {
  background-color: lighten($mirage, 5%);
  border: 1px solid $dusk;
  border-radius: 6px;
  flex: 0 1 280px;
  list-style-type: none;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba($pitch-black, 0.2);
  }

  .year-label {
    color: $yellow-orange;
  }

  a {
    text-decoration: none;
  }
}

.project-image {
  display: block;
  max-width: 100%;
}

.project-details {
  text-align: center;
}

.project-name {
  color: $white;
  font-size: .9rem;
  font-weight: normal;
  letter-spacing: .08em;
  margin: $large-spacing auto 0;
  max-width: 14em;
  text-align: center;
  text-transform: uppercase;
}

.project-description {
  color: $secondary-text-color;
  font-size: 0.8rem;
  margin: $small-spacing auto $large-spacing;
  max-width: 14em;
  text-align: center;
}

.project-tag-list {
  background-color: $pitch-black;
  list-style: none;
  margin: 0;
  padding: $small-spacing $base-spacing;

  .tag {
    border-radius: 10em;
    color: $white;
    display: inline-block;
    font-size: 0.55rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    margin-right: 1em;
    text-transform: uppercase;

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      content: "●";
      font-size: 1rem;
      margin-right: 2px;
      vertical-align: -2px;
    }
  }
}

@each $tag, $color in $tag-colors {
  [data-tag="#{$tag}"] {
    @include tag($color);
  }
}

body.page-product {
  box-sizing: border-box;
  font-family: $apple-system;
  margin: auto;
  max-width: 40rem;
  padding: 0 2rem;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    margin: 2rem auto;
  }

  .main-title {
    @include media-width(until, $container-width) {
      text-align: center;
    }

    @include media-width(from, $container-width) {
      display: flex;
      margin: 5rem auto;
    }
  }

  .main-title-icon {
    @include media-width(from, $container-width) {
      flex-basis: 100px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .main-title-copy {
    @include media-width(from, $container-width) {
      margin-left: 1.4rem;
      padding-left: 2rem;
      display: flex;
      align-items: top;
      justify-content: center;
      flex-direction: column;
    }

    @include media-width(until, $container-width) {
      margin: 0 auto 3rem;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin-bottom: 0.8rem;
      text-transform: uppercase;

      @include media-width(until, $container-width) {
        display: block;
      }
    }

    .tagline {
      font-size: 1rem;
      font-weight: 300;
      font-weight: normal;
      letter-spacing: 0.02em;
      line-height: 1.4;
      max-width: 20rem;
      opacity: 0.7;

      @include media-width(until, $container-width) {
        display: inline-block;
      }
    }
  }

  .icon {
    @include media-width(from, $container-width) {
      margin-top: 0.5rem;
    }

    @include media-width(until, $container-width) {
      margin-bottom: 1rem;
      max-width: 85px;
    }
  }

  .screenshot {
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(#000, 0.1);
    margin-top: 1em;
  }

  .description {
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    padding-top: 1em;
    text-align: center;

    @include media-width(from, $container-width) {
      width: 90%;
    }
  }

  footer {
    letter-spacing: 0.04em;
    padding-bottom: 3rem;
    text-align: center;
  }

  [class$=button] {
    border-radius: 3em;
    display: block;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2rem auto;
    padding: 1.5rem 2rem 1.4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 70%;

    &:hover {
      text-decoration: none;
    }

    .details {
      opacity: 0.5;
    }
  }
}
