@import 'variables/glob';
@import-normalize;

body {
  background-color: var(--primary-color);
  color: #FFF;
  font-family: var(--text-font);
  margin: 0;
}



  .site-header {
    background-repeat: no-repeat;
    padding-top: 5.5rem;
    text-align: center;

    & .pattern {
      top: 0;
      display: block;
      position: absolute;
    }

    & a {
      text-decoration: none;
    }

    & .full-name {
      color: white;
      font-size: 1.04rem;
      font-weight: 500;
      letter-spacing: .2em;
      margin-bottom: .6em;
      text-transform: uppercase;
    }

    & .sakigake {
      display: block;
      margin-top: 3.3em;
    }
  }
