@import "helpers/_glob";
@import "pages/_glob";
@import "components/_glob";

body {
  background-color: var(--theme-background-color);
  color: var(--theme-body-foreground-color);
  font-family: var(--text-font);
  font-size: 16px;
  margin: 0;
}

sub,
sup {
  line-height: 0;
}

sup {
  font-size: 0.8rem;
  font-variant-numeric: lining-nums;
  margin-left: 0.2em;
  top: 0;
  vertical-align: super;
}

p {
  line-height: 1.5;
}

a {
  color: var(--theme-link-color);
}

.section-heading {
  @extend %heading;
  margin: var(--header-top-spacing) 0 calc(var(--header-top-spacing) * 0.8);
}

.container > .section-heading {
  margin-top: calc(var(--header-top-spacing) * 1.25);
}

.page-heading {
  @extend %heading;
  font-weight: 700;
}

.background-pattern {
  display: block;
  fill: var(--pattern-bg-color);
  height: 100vh;
  max-width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: var(--pattern-bg-opacity);
}

.site-header {
  background-repeat: no-repeat;
  padding-top: var(--header-top-spacing);
  text-align: center;
  overflow: hidden;

  & .author-avatar {
    border-radius: 2.5rem;
    transform: translate(-2.5rem);
    width: 5rem;
  }

  & .avatar-placeholder {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 2.5rem;
    display: inline-block;
    height: 5rem;
    transform: translate(2.5rem);
    width: 5rem;
  }

  & .header-link {
    border-radius: 1.6rem;
    display: block;
    margin: 0 auto;
    max-width: 18rem;
    padding: 2rem;
    transition: all 0.3s;

    &:hover {
      background-color: var(--theme-navigation-hover-link-bg-color);
      transform: scale(1.02);
    }
  }

  & a {
    text-decoration: none;
  }

  & .author-name {
    color: var(--theme-foreground-color);
    font-size: var(--header-title-size);
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  & .author-bio {
    color: var(--theme-secondary-foreground-color);
    font-style: italic;
    margin-bottom: 0;
    letter-spacing: 0.04em;

    & em {
      font-weight: 600;
    }
  }

  & .sakigake {
    margin: 2rem auto;
    fill: var(--theme-link-color);

    &::before {
      @extend %sakigake-pseudo;
      margin-right: 10px;
    }

    &::after {
      @extend %sakigake-pseudo;
      margin-left: 10px;
    }
  }
}

.site-navigation {
  & .navigation-links {
    list-style: none;
    padding-left: 0;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    color: red;

    @media (--narrow-grid-container) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
      margin: 0 auto;
    }

    & .link {
      font-size: .85rem;
      font-weight: 700;
      letter-spacing: .1em;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.3s;

      @media (--narrow-grid-container) {
        padding: 0.5rem 1rem;
        font-size: .8rem;
      }

      &:hover {
        transform: scale(1.1);
      }

      & small {
        font-weight: 400;
        display: none;
      }

      @media (--full-grid-container) {
        & a {
          display: inline-block;
          padding: 1.4em 2em;
          border-radius: 1rem;
        }

        &:hover {
          & a {
            background-color: var(--theme-navigation-hover-link-bg-color);
          }
        }

        & small {
          font-weight: 400;
          display: block;
          margin-top: 0.4em;
        }
      }
    }
  }

  & a {
    color: var(--theme-foreground-color);
    text-decoration: none;
  }
}

.site-footer {
  padding: calc(var(--footer-padding) * 2) var(--footer-padding) var(--footer-padding);
  overflow: hidden;
  text-align: center;

  & hr {
    margin-bottom: var(--footer-padding);
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .copyright {
    line-height: 1.5;
    color: var(--theme-foreground-color);

    & em {
      font-style: normal;
    }
  }

  & .link-list {
    list-style: none;
    margin: 0;
    padding: 0 0 1em;

    & .link {
      display: inline-block;
    }
  }

  & .separator {
    color: var(--theme-foreground-color);
    opacity: 0.3;
    display: inline-block;
    margin: 0 0.5em;
    font-weight: 300;
  }
}

.hidden {
  display: none;
}
