@import "helpers/_glob";
@import "pages/_glob";
@import "components/_glob";

body {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--text-font);
  font-size: 16px;
  margin: 0;
}

sup {
  margin-left: 0.2em;
  top: 0;
  vertical-align: super;
}

.section-heading {
  @extend %heading;
  margin: var(--header-top-spacing) 0 calc(var(--header-top-spacing) * 0.8);
}

.container > .section-heading {
  margin-top: calc(var(--header-top-spacing) * 1.25);
}

.page-heading {
  @extend %heading;
  font-weight: 600;
}

.main-container {
  padding: 0 2rem;
  @media (--full-grid-container) {
    padding: 0 var(--main-container-padding);
  }
}

.site-header {
  background-repeat: no-repeat;
  padding-top: var(--header-top-spacing);
  text-align: center;
  overflow: hidden;

  & .header-pattern {
    display: block;
    max-width: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: -1;
  }

  & a {
    text-decoration: none;
  }

  & .full-name {
    color: white;
    font-size: var(--header-title-size);
    font-weight: 500;
    letter-spacing: 0.2em;
    margin-bottom: calc(var(--header-title-size) * 2);
    text-transform: uppercase;
  }

  & .sakigake {
    margin: auto;

    &::before {
      @extend %sakigake-pseudo;
      margin-right: 10px;
    }

    &::after {
      @extend %sakigake-pseudo;
      margin-left: 10px;
    }
  }
}

.site-navigation {
  & .navigation-links {
    list-style: none;
    padding-top: 3rem;
    padding-left: 0;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;

    @media (--narrow-grid-container) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem 1rem 1rem;
    }

    & .link {
      font-size: .85rem;
      font-weight: 500;
      letter-spacing: .16em;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.3s;

      @media (--narrow-grid-container) {
        padding: 0.5rem 1rem;
        font-size: .8rem;
      }

      &:hover {
        transform: scale(1.1);
      }

      & small {
        font-weight: 400;
        display: none;
      }

      @media (--full-grid-container) {
        & a {
          display: inline-block;
          padding: 1.4em 2em;
          border-radius: 1rem;
        }

        &:hover {
          & a {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }

        & small {
          font-weight: 400;
          display: block;
          margin-top: 0.4em;
        }
      }
    }
  }

  & a {
    color: #fff;
    text-decoration: none;
  }
}

.site-footer {
  padding: calc(var(--footer-padding) * 2) var(--footer-padding) var(--footer-padding);
  overflow: hidden;
  text-align: center;

  & hr {
    margin-bottom: var(--footer-padding);
  }

  & a {
    color: var(--secondary-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .copyright {
    line-height: 1.3;
    color: color-mod(var(--primary-color) lightness(75%));

    & em {
      font-size: 1.2rem;
      vertical-align: -0.05em;
      font-style: normal;
    }
  }

  & .link-list {
    list-style: none;
    margin: 0;
    padding: 0 0 1em;

    & .link {
      display: inline-block;
    }
  }

  & .separator {
    opacity: 0.3;
    display: inline-block;
    margin: 0 0.5em;
    font-weight: 300;
  }
}

.grid-container {
  min-height: 100vh;

  @media (--full-grid-container) {
    display: grid;
    grid-template-columns: var(--sidebar-max-width) 1fr;
    grid-template-rows: auto 1fr auto;
  }

  & .site-header {
    grid-area: 1 / 1;
  }

  & .site-navigation {
    grid-area: 2 / 1;
  }

  & .site-footer {
    grid-area: 3 / 1;
  }

  & .main-container {
    grid-area: 1 / 2 / -1;
  }
}

.hidden {
  display: none;
}
